* {
  box-sizing: border-box;
}

body {
  background-color: #97A97C;
  color: #E9F5DB;
  font-family: Bodoni Moda;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  aspect-ratio: "30%";
  width: "100%";
  margin: 0;
  overflow-x: auto;
  overflow-y: auto;
}

h1 {
  margin: 25px 0 0;
}

.game-container {
  padding: 20px 30px;
  position: relative;
  margin: auto;
  aspect-ratio: "30%";
  width: "100%";
}

.figure-container {
  fill: transparent;
  stroke: #fff;
  stroke-width: 0.2rem;
  stroke-linecap: round;
}


.figure-part {
  display: flex;
}

.wrong-letters-container {
  position: absolute;
  top: 2rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.wrong-letters-container p {
  margin: 0 0 5px;
}

.wrong-letters-container span {
  font-size: 24px;
}

.word {
  display: flex;
  position: static;
  align-items: center;
  justify-content: center;
  bottom: 10px;
  left: 50%;
}

.letter {
  border-bottom: 3px solid #fff;
  display: inline-flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  height: 50px;
  width: 20px;
}

.popup-container {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

.popup {
  background: #2980b9;
  position: static;
  border-radius: 20px;
  box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: center;
}

.popup button {
  cursor: pointer;
  background-color: #fff;
  color: #2980b9;
  border: 0;
  margin-top: 20px;
  padding: 12px 20px;
  font-size: 16px;
}

.popup button:active {
  transform: scale(0.75);
}

.popup button:hover {
  background-color: #fff;
  width: 150px;
  height: 50px;
  border-radius: 45px;
  box-shadow: 5px 10px #888;
}

.notification-container {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px 10px 0 0;
  padding: 15px 20px;
  position: absolute;
  bottom: -50px;
  display: none;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.notification-container h2 {
  text-align: center;
}

.notification-container.show {
  transform: translateY(-10rem);
}


.button-container {
  position: static;
  border-radius: 10px 10px 0 0;
  padding: 1rem 1rem;
  top: 1rem;
  right: 10px;
  display: flow-root;
  flex-direction: row;
  text-align: center;
}

.button-container button {
  cursor: pointer;
  background-color: #fff;
  color: #97A97C;
  margin-top: 0.1rem;
  border-radius: 0.7rem 0.7rem ;
  font-size: 1.5rem;
  max-block-size: 2rem;
  block-size: auto;
  text-align: center;
}

.button-container button:active {
  transform: scale(0.75);
}

.button-container button:hover {
  background-color: #fff;
  color: #000;
  box-shadow: 5px 10px #E9F5DB;
}
